<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Terminal - HurkitaBOT</title>
    <meta name="theme-color" content="#44475a" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#44475a" />
    <meta name="msapplication-navbutton-color" content="#44475a" />
    <link rel="stylesheet" href="/static/assets/css/global.css" />
  </head>
  <body>
    <center>
      <h1 style="margin: 25px">Terminal da HurkitaBOT</h1>
    </center>

    <div id="terminal"></div>
  </body>
</html>
