<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Terminal - HurkitaBOT</title>
	<meta name="theme-color" content="#44475a" />
	<meta name="apple-mobile-web-app-status-bar-style" content="#44475a" />
	<meta name="msapplication-navbutton-color" content="#44475a" />
	<link rel="stylesheet" href="/static/assets/css/global.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/xterm/3.14.5/xterm.min.css" integrity="sha512-iLYuqv+v/P4u9erpk+KM83Ioe/l7SEmr7wB6g+Kg1qmEit8EShDKnKtLHlv2QXUp7GGJhmqDI+1PhJYLTsfb8w==" crossorigin="anonymous" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/xterm/3.14.5/xterm.min.js" integrity="sha512-2PRgAav8Os8vLcOAh1gSaDoNLe1fAyq8/G3QSdyjFFD+OqNjLeHE/8q4+S4MEZgPsuo+itHopj+hJvqS8XUQ8A==" crossorigin="anonymous"></script>
</head>
<body>
	
	<center>
		<h1 style="margin: 25px;">Terminal da HurkitaBOT</h1>
	</center>

	<div id="terminal"></div>

	<script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
	<script type="module" src="/static/assets/js/terminal.js"></script>
</body>
</html>